@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

.gradient-text {
    background: linear-gradient(to bottom right, #5eadd8, #01a6ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    @apply text-blue-600 underline-transparent;
}

a:hover {
    @apply underline-current;
}

table {
    @apply p-4 bg-dark-500/80 w-full rounded-xl overflow-x-auto text-sm md: text-base;
}

table tr td {
    @apply p-2 pt-4;
}

table th {
    @apply text-base text-gray-400 font-medium pb-2 text-left;
}