.gradient-text {
    background: linear-gradient(to bottom right, #2a93cc, #4abcf9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

