.gradient-text {
    background: linear-gradient(to right, #8bd6ff, #32b3f9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
